@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  /* Colors */
  --color-clear: #f0ebe1;
  --color-dark: #262522;
  --color-light: #fffbf2;
  --color-primary-1: #9fdc26;
  --color-primary-2: #f29c33;
  --color-primary-3: #ee6352;
  --color-primary-4: #c4e5fc;

  --text-header-2: 40px;
}

@layer components {
  /* Typography */
  .header-2 {
    @apply text-2xl md:text-header-2 font-montserrat uppercase font-bold text-dark leading-none;
  }
  .paragraph-2 {
    @apply text-sm md:text-base font-light text-dark/80 tracking-wide;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-dark);
  background: var(--color-clear);
}
